.php~
/nbproject/
/.idea/
/.composer/
/.bash_history
/.ssh/
/bin/behat
/bin/phpunit
/bin/webunit
/bin/doctrine
/bin/doctrine.php
/bin/doctrine-dbal
/ezpublish/config/settings_instance_dev.yml
/ezpublish/sessions/*
/ezpublish/cache/
/ezpublish/logs/
/ezpublish/bootstrap.php.cache
/ezpublish/SymfonyRequirements.php
/ezpublish/check.php
/var/log/
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/bundles/
/web/design
/web/extension
/web/share
/web/var
/web/phpinfo.php
/web/css/*
/web/js/*
/web/compiled
composer.phar
.buildpath
.project
.settings/
!/config/varnish/vcl/.gitkeep
